/**
 * WordCamp Lisboa 2023 website CSS file 
 * 
 * This file is not to be used as remote because "!important" and "content" will not work.
 * Stored on GitHub but should be copied to Additional CSS on the website each time it's updated
 * 
**/

/* Main */
body {
	overflow-x: hidden; /* Because of 100% heros */
}
header.wp-block-template-part {
	margin-top: 1em !important;
	margin-bottom: 4em;
}
body.home header.wp-block-template-part {
	margin-bottom: 0px !important;
}
ul {
	padding-inline-start: 0px;
}
h1.wp-block-post-title,
h1.wp-block-query-title {
	text-transform: uppercase;
	text-align: center;
	position: relative;
}
h1.wp-block-post-title::after,
h1.wp-block-query-title:after {
	position: absolute;
	bottom: -12px;
	left: 50%;
	content: '';
	width: 80px;
	margin-left: -40px;
	height: 4px;
	background-color: #FAAF32;
}
h1.wp-block-query-title {
	font-size: 0px !important;
	color: rgba(255, 255, 255, 0);
}
h1.wp-block-query-title span {
	font-size: clamp(2.75rem, 6vw, 3.25rem);
	color: #0073B4;
}

/* Typography */
body,
h5,
h6,
.has-system-font-font-family {
	font-family: Mulish, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
h1,
h2,
h3,
h4,
.has-source-serif-pro-font-family,
.wp-block-post-title {
	font-family: Montserrat, Mulish, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
	font-weight: 700 !important;
}
h2 {
	font-size: 1.75em !important;
}
h1,
h2,
h3,
h4 {
	color: #0073B4;
}
h1 em,
h2 em {
	font-weight: 400;
}
h1.wp-block-post-title em {
	display: block;
}
h2 img.emoji {
	font-size: 1.75em;
}

/* Conteúdo máximo 1100px */
.entry-content > .alignwide,
.entry-content > .alignleft,
.entry-content > .alignright,
.wp-block-group .alignwide,
.entry-content > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide):not(.hero100) {
	max-width: 1100px !important;
}

/* Utils */
.hide {
	display: none;
}
@media only screen and (max-width: 781px) {
	.hide-mobile {
		display: none;
	}
}
@media only screen and (min-width: 782px) {
	.hide-desktop {
		display: none;
	}
}
p.small {
	font-size: 0.8em;
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
}
.hero100 {
	width: 100vw;
	left: calc(-50vw + 50%);
	position: relative;
	max-width: 100vw !important;
}

/* Home */
.hero100home .wp-block-cover__inner-container {
	max-width: 900px;
	width: 50%;
	margin-left: 50%;
	padding: 1em;
}
.hero100home .wp-block-cover__inner-container h1 {
	font-size: 3.5em;
}
.hero100home .wp-block-cover__inner-container h2 {
	font-weight: 400 !important;
}
.hero100home .wp-block-cover__inner-container h1,
.hero100home .wp-block-cover__inner-container h2,
.hero100home .wp-block-cover__inner-container p {
	margin-top: 0px;
	margin-bottom: 0.25em;
}
.hero100home .wp-block-cover__inner-container p.photo-credits {
	font-size: 0.5em !important
	position: absolute;
	right: 1.5em;
	bottom: 1em;
}
@media only screen and (max-width: 781px) {
	.hero100home .wp-block-cover__inner-container {
		width: 90%;
		margin-left: 10%;
		text-align: right;
	}
	.hero100home .wp-block-cover__inner-container * {
			text-align: right !important;
	}
	.hero100home .wp-block-cover__inner-container h1 {
		font-size: 2.5em;
	}
}
.home-cta {
	margin-block-start: 0px !important;
}
@media only screen and (max-width: 781px) {
	.home-cta p,
	.home-cta .wp-block-buttons {
		text-align: center !important;
		justify-content: center !important;
	}
}
.home-blogposts h2.wp-block-post-title {
	line-height: 1.6;
}
.home-blogposts li {
	position: relative;
}
.home-blogposts li.tag-english-blog::after,
.home-blogposts li.tag-blog-em-portugues::after {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.75);
	line-height: 0.5;
	padding: 0.5em;
	font-weight: bold;
}
.home-blogposts li.tag-english-blog::after {
	content: 'EN';
}
.home-blogposts li.tag-blog-em-portugues::after {
	content: 'PT';
}


/* Links in new window - Not working */
a[target="_blank"]::after {
	content: "\f504";
	margin: 0 3px 0 3px;
	font-family: dashicons;
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	font-size: 0.75em;
	opacity: 0.75;
	text-decoration: none;
}

/* Buttons */
.wp-block-button .wp-block-button__link,
.wp-block-button__link {
	border-radius: 0px !important;
	white-space: nowrap;
	border-style: none;
	background-color: #0073B4;
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;
}

/* Newsletter */
.jetpack_subscription_widget .success {
	background-color: #32612d;
	padding: .1em 1em;
	color: #FFFFFF;
}
.jetpack_subscription_widget .error {
	background-color: #a91b0d;
	padding: .1em 1em;
	color: #FFFFFF;
}
.jetpack_subscription_widget input[type="email"] {
	border-radius: 0px !important;
	border-color: rbg(118, 118, 188);
	border-style: inset;
}

/* Fix menu colours on news pages and menu position */
.wclx23header nav a,
.wclx23header nav a .wp-block-navigation-item__label {
	color: #000 !important;
	font-weight: bold;
}

/* Fix featured images - Remove extra space and separator */
main > div:first-child > hr,
main > div:first-child + div.wp-block-spacer {
	display: none;
}

/* Hide featured images on pages. Only used for Open Graph */
.home main > div:first-child,
.home .wp-block-post-title,
body.page .wp-block-post-featured-image {
	display: none;
}
/* Fix on posts block at home */
.home .wp-block-query .wp-block-post-title,
.home .wp-block-query .wp-block-post-featured-image {
	display: block;
}

/* Organizers */
.wordcamp-organizers li:not(:last-child) {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 2em;
}
.wordcamp-image__avatar-container img {
	border-radius: 50%;
}
@media only screen and (min-width: 600px) {
	.wordcamp-image__avatar-container {
		float: left;
		margin-right: 1em;
	}
	.wordcamp-image__avatar-container img {
		width: 100px;
		height: 100px;
	}
}
.wordcamp-organizers__title {
	font-weight: 600;
}
.wordcamp-organizers__content h3 {
	font-weight: 400;
	font-size: 1.5em;
}
.wordcamp-organizers .wp-block-social-links li {
	border-bottom: unset;
	padding-bottom: unset;
}
.wordcamp-organizers .wordcamp-organizer .organizer-meta {
	height: 100px;
	align-content: center;
	display: grid;
}

/* Sponsors */
.sponsors-container-home .sponsors-container.has-background-background-color {
	background-color: #F0F0F0 !important;
}
.wordcamp-sponsors {
	text-align: center;
	margin: 1em 0 !important; /* Reset */
	padding: 0 !important; /* Reset */
	padding-inline-start: 0; /* Reset */
}
.wordcamp-sponsors li {
	display: inline-block;
	max-width: 30% !important; /* 3 per line */
	margin: 0 !important; /* Reset */
	margin-left: 1.25% !important; /* 12.5px */
	margin-right: 1.25% !important; /* 12.5px */
	margin-bottom: 1.25% !important; /* 12.5px */
}
.wordcamp-sponsors li a {
	display: block;
	transition: all .3s ease;
}
.wordcamp-sponsors li a:hover {
	transform: scale(1.05);
}
.wordcamp-sponsors li img {
	height: auto !important;
	display: block;
}
.wordcamp-sponsors.sponsors-community li,
.wordcamp-sponsors.sponsors-diamante li {
	max-width: 30% !important; /* 3 per line */
}
.wordcamp-sponsors.sponsors-ouro li {
	max-width: 22% !important; /* 4 per line */
}
.wordcamp-sponsors.sponsors-prata li {
	max-width: 17.1% !important; /* 5 per line */
}
.wordcamp-sponsors.sponsors-bronze li {
	max-width: 13.8% !important; /* 6 per line */
}
@media only screen and (max-width: 781px) { /* We're going desktop first here - Maybe change this to a higher resolution? */
	.wordcamp-sponsors.sponsors-community li,
	.wordcamp-sponsors.sponsors-diamante li {
		max-width: 46.5% !important; /* 2 per line */
	}
	.wordcamp-sponsors.sponsors-ouro li {
		max-width: 46.5% !important; /* 2 per line as they are 4 makes no sense to have 3 per line */
	}
	.wordcamp-sponsors.sponsors-prata li {
		max-width: 30% !important; /* 3 per line */
	}
	.wordcamp-sponsors.sponsors-bronze li {
		max-width: 30% !important; /* 3 per line as 4 is just too small */
	}
}
.page-slug-patrocinadores-sponsors .sponsors-container-home {
	display: none;
}

/* Blog */
@media only screen and (min-width: 782px) {
	body.blog ul.wp-block-post-template,
	body.archive ul.wp-block-post-template {
		overflow: hidden;
	}
	body.blog ul.wp-block-post-template li,
	body.archive ul.wp-block-post-template li {
		width: 48%;
		float: left;
		margin: 0px 1%;
	}
	body.blog ul.wp-block-post-template li:nth-child(odd),
	body.archive ul.wp-block-post-template li:nth-child(odd) {
		clear: both;
	}
}
.wp-block-post-content ul {
	padding-inline-start: 1em;
}
body.blog ul.wp-block-post-template a,
body.archive ul.wp-block-post-template a {
	color: #0073B4;
}

/* Footer */
body.home footer {
	margin-block-start: 0px;
	clear: both;
}
.wclx23-footer-blue .wp-block-column p {
	margin-top: 0px;
}
.wclx23-footer-blue .wp-block-social-links .wp-social-link a {
	background-color: #FFFFFF;
	font-size: 20px;
}
.wclx23-footer-blue .wp-block-social-links .wp-social-link a svg {
	fill: #0073B4;
}
.wp-block-image.wapuussoa figcaption {
	color: #FFFFFF;
}
.wclx23-footer-blue .jetpack_subscription_widget input[type="email"] {
	border-style: solid;
	border-color: #ffffff;
}
.wclx23-footer-blue .jetpack_subscription_widget .wp-block-button__link {
	background-color: #FAAF32;
}
.wclx23-footer-blue .jetpack_subscription_widget {
	width: 90%;
}
@media only screen and (max-width: 781px) {
	.wclx23-footer-blue .wp-block-column {
		margin-bottom: 3em;
	}
	.wp-block-image.wapuussoa.alignright {
		float: none !important;
		margin-inline-start: 0px !important;
	}
}
.poweredby a {
	color: inherit;
}
