/* Botões do formulário. */
.wp-block-button__link {
	border-radius: 3px;
	white-space: nowrap;
	border-style: none;
	background-color: #000000;
	cursor: pointer;
}

/* Avatars */
.wordcamp-image__avatar-container img {
    border-radius: 50%;
}
@media only screen and (min-width: 600px) {
	.wordcamp-image__avatar-container {
    	float: left;
    	margin-right: 1em;
	}
}
